/*Default styling to be applied to every element*/
*{
    /*Default box model styling for all elements*/
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;

    /*Default text styling for all elements*/
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none !important;

    /*Scrollbar settings for all elements*/
    scroll-behavior: smooth;
}
/*Scrollbar settings for all elements with pseudo selector for all browser compatibility*/
*::-webkit-scrollbar{
    width: 0px;
    display: none;
    background: transparent;
}

/*Root pseudo element stylings*/
:root{
    --bg-color: #1f242d;
    --second-bg-color: rgb(50, 57, 70);
    --text-color: #ffffff;
    --main-color: #0ef;

    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
}