

/*Specific section styling - project*/
.project{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
/*All text styling for the section*/
.project_heading,
.project_heading span{
    text-align: center;
    font-size: 4.3rem;
    font-weight: 700;
}
.project_heading span{
    color: var(--main-color);
}
.project_content{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6rem;
    margin: 0 0 2rem 0;
}
/*Secttion widget styling - project section*/
.project_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.project_wrapper .project_box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.project_box img{
    width: 100%;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    transition: all 0.5s;
}
.project_box:hover img{
    width: 100%;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    transform: scale(1.15);
    transition: all 0.5s;
}
.project_box .project_description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.05), var(--main-color));
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    padding: 0 3rem;
    transition: all 0.5s;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    transform: translateY(100%);
}
.project_description h4{
    font-size: 2.5rem;
    font-weight: 700;   
}
.project_description hr{
    width: 90%;
    align-self: center;
    border-top: var(--main-color);
    box-shadow: 0 0 2px #1f242d;
    border-top-style: solid;
    border-top-width: 2px;
}   
.project_description p{
    font-size: 1.2rem;
    margin: 0.3rem 0 0.3rem 0;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;   
}
.project_box:hover .project_description{
    transition: all 0.5s;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    transform: translateY(0%);
}

/*Specific section styling - Skill*/
.skill{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--second-bg-color);
}
.skill_heading,
.skill_heading span{
    font-size: 4.3rem;
    font-weight: 700;
}
.skill_heading span{
    color: var(--main-color);
}
.knowledge_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.knowledge_content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.knowledge_keywords{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.knowledge_keywords .keyword{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0.5rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0.75rem;
}
.experiences{
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.experiences h3{
    margin: 2rem 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 2.5rem;
}

.experiences_wrapper{
    position: relative;
    margin: 0;
    padding: 0;
    height: 50vh;
    max-height: calc(25rem);
    width: 100%;
}
.experience_container{
    z-index: 5;
    display: flex;
    overflow-x: scroll;
    padding: 0rem 5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top:0;
    height: 100%;
    left: 0;
}
.left_scroll,
.right_scroll{
    z-index: 6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    background: transparent;
    transform: translateY(-50%);
    color: var(--main-color);
    transition: all 0.3s ease;
}
.left_scroll i,
.right_scroll i{
    opacity: 1;
    font-size: 2.5rem;
}
.left_scroll{
    margin-left: 1.5rem;
    left: 0;
}
.right_scroll{
    margin-right: 1.5rem;
    right: 0;
}
.left_scroll:hover,
.right_scroll:hover{
    transition: all 0.2s ease;
    background: var(--main-color);
    color: var(--bg-color);
}
.experience_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0rem 1.5rem;
    min-width: calc(20*1.8rem);
    width: 35vw;
    background-color: var(--bg-color);
    padding: 0.5rem 3rem;
    padding-top: 2rem;
    height: 100%;
    border-radius: 1rem;
    border-top: var(--main-color) solid 0.2rem;
    border-bottom: var(--main-color) solid 0.2rem;
}
.experience_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 1rem;
}  
.experience_box>i{
    font-size: 2.5rem;
}
.experience_content p{
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;
}
.experience_box h3{
    color: var(--main-color);
    text-align: center;
    vertical-align: middle;
    margin: 1rem 0rem;
}


/*Section widget styling - Contact*/
.contact_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 1rem 0;
}
.contact_content p{
    text-align: center;
    vertical-align: middle;
    font-size: 1.6rem;
}
.contact_heading,
.contact_heading span{
    text-align: center;
    font-size: 4.3rem;
    font-weight: 700;
}
.contact_heading span{
    color: var(--main-color);
}
.contact form{
    max-width: 90%;
    text-align: center;
    margin: 1rem auto;
}
.contact form .input_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.input_box input,
form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}
.input_box input::placeholder,
form textarea::placeholder{
    color: var(--bg-color);
}
form textarea{
    resize: none;
}
.input_box input{
    width: 49%;
}
.input_box input:focus,
form textarea:focus{
    border: solid 1px  var(--main-color);
    box-shadow: 0 0 0.7rem var(--main-color);
}
.form_buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.form_buttons button{
    min-width: calc(6*1.6rem + 2*2.8rem);
    width: 20%;
    margin-left: 3rem;
}
.add_calendly{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
}
.add_calendly>button{
    text-align: center;
    vertical-align: middle;
    min-width: calc(13*1.6rem);
}



/*All image styling for the page*/

.project_box a,
.experience_box a{
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.45rem 1rem;
    margin-bottom: 1rem; 
    font-size: 1.4rem;
    background: transparent;
    border-radius: 2.5rem;
    border: solid 2px var(--main-color);
    transition: all 0.3s ease-in;
}
.project_box a i,
.experience_box a i{
    margin-left: 1rem;
}
.project_box a:hover,
.experience_box a:hover{
    color: var(--bg-color);
    background: var(--main-color);
    box-shadow: 0 0 0.75rem #1f242d;
    transition: all 0.2s ease-out;
}

.expandClass{
    transition: all 0.5s ease;
    min-height: 35rem;
    max-height: 38rem;
}
