.about_text{
    margin: 2rem 0rem;
    overflow: hidden;
    display: block;
}
.expand{
    max-height: 15rem;
}
.about_img{
    margin-right: 3rem;
}
@media (max-width: 1300px) {
    .about_img{
        margin-right: 0rem;
    }
    #about{
        flex-direction: column;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}