/*Footer styling*/
footer {
  padding: 10rem 9% 2rem;
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
}
.footer_sections {
  display: flex;
}
.support_me {
  width: 40%;
  margin-left: 0.75rem;
}
.personal_contact {
  width: 60%;
  margin-right: 0.75rem;
}

.support_me,
.personal_contact {
  min-height: 100%;
  border: solid 0.2rem var(--main-color);
  border-radius: 0.7rem;
  padding: 1.5rem;
  h3 {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  a{
    display: block;
    margin-bottom: 1rem;
    img{
        max-width: 100%;
        overflow: hidden;
    }
  }
  &>div{
    margin-bottom: 1.5rem;
  }
}

.link_to_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  font-style: oblique;
  & p {
    color: var(--bg-color);
    font: inherit;
  }
  & a {
    color: var(--main-color);
    font: inherit;
    & i {
      font-size: inherit;
    }
    transition: all 0.2s ease-in-out;
    &:hover {
      text-shadow: 0 0 0.5rem var(--text-color);
    }
  }
}

@media (max-width: 1300px) {
  .link_to_top{
    font-size: 1rem;
    flex-direction: column;
    & a{
      margin-top: 1rem;
    }
  }
}

@media (max-width: 1100px) {
  .footer_sections{
    flex-direction: column;
  }
  .support_me, .personal_contact{
    min-height: none;
    width: 100%;
  }
  .personal_contact{
    margin-right: 0rem;
  }
  .support_me{
    margin-left: 0rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

