/*Footer styling*/
footer {
  padding: 10rem 9% 2rem;
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
}
.footer_sections {
  display: flex;
}
.support_me {
  width: 40%;
  margin-left: 0.75rem;
}
.personal_contact {
  width: 60%;
  margin-right: 0.75rem;
}

.support_me,
.personal_contact {
  min-height: 100%;
  border: solid 0.2rem var(--main-color);
  border-radius: 0.7rem;
  padding: 1.5rem;
  h3 {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  a{
    display: block;
    margin-bottom: 1rem;
    img{
        width: 100%;
    }
  }
  &>div{
    margin-bottom: 1.5rem;
  }
}

.link_to_top {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  font-style: oblique;
  & p {
    color: var(--bg-color);
    font: inherit;
  }
  & a {
    color: var(--main-color);
    font: inherit;
    & i {
      margin-left: 1rem;
      font-size: 2rem;
    }
    transition: all 0.2s ease-in-out;
    &:hover {
      text-shadow: 0 0 0.5rem var(--text-color);
    }
  }
}
